:root{
    --primary: rgba(13, 110, 139, 0.75);
    --secondary: rgba(172, 119, 28, 0.8);
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --speed: 0.75s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

.container{
    position: relative;
    max-width: 100vw;
    background: var(--primary);
    height: 100vh;
    color: #fff;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
}

.container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: url('../images/showcase.jpg') no-repeat center center/cover;
    width: 100%;
    z-index: -1;
}

.container h1{
    margin: 20px;
    font-size: 2.5rem;
}

.container p{
    max-width: 500px;
    font-size: 16px;
}

.container .btn{
    display: inline-block;
    border: none;
    background: var(--primary);
    color: #fff;
    padding: 0.75rem 1rem;
    margin-top: 1rem;
    transition: opacity 0.75s ease-in;
    font-size: 1rem;
    cursor: pointer;
}

.container .btn:hover{
    opacity: 0.7;
}

.menu-wrap{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}


.head input{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.head .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: var(--primary);
    color: #fff;
    padding: 14px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger > div {
    background: #fff;
    flex: none;
    width: 100%;
    height: 2px;
    position: relative;
    transition: transform 0.2s ease-in;
}

.hamburger > div::before,
.hamburger > div::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.hamburger > div::before{
    top: -10px;
}

.checkbox:checked + .hamburger >div {
    transform: rotate(135deg);
}

.checkbox:checked + .hamburger > div::before,
.checkbox:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(90deg);
}

.checkbox:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}

.head .checkbox:checked ~.menu-wrap{
    visibility: visible;
}

.head .checkbox:checked ~ .menu-wrap > div{
    transform: scale(1);
    transition-duration: var(--speed);
}

.head .checkbox:checked ~ .menu-wrap > div > div
{
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.head .menu-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head .menu-wrap > div{
    background-color: var(--overlay-color);
    border-radius: 50% ;
    width: 300vw;
    height: 300vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.head .menu-wrap > div > div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.head .menu-wrap > div > div > ul > li{
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.head .menu-wrap > div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    transition: hover 0.4s ease;
}

.head .menu-wrap > div > div > ul> li> a:hover{
    color: var(--secondary);
}